* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: arial, sans-serif;
    font-size: 13px;
}

body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    max-height: 100vh;
    justify-content: space-between;
}

ul {
    list-style: none;
}

a {
    text-decoration: none;
}

/* Header */

header .container {
    display: flex;
    justify-content: flex-end;
}

.main-nav {
    width: 300px;
    padding: 20px;
}

.main-nav ul {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

#account {
    display: flex;
    font-size: 1.3rem;
    align-items: center;
    justify-content: center;
    color: white;
    width: 32px;
    height: 32px;
    background-color: #609;
    border-radius: 50%;
}

/* Main */

main {
    flex-grow: 2;
    margin-top: 100px;
}

main .container {
    width: 60%;
    margin: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
}


img #google-logo {
    width: 200px;
}

.search {
    display: flex;
    margin: 20px 0;
    border: 1px solid lightgray;
    border-radius: 50px;
    width: 600px;
}

.search button {
    border-radius: 50px;
    background: url(../images/microphone.webp) no-repeat center;
    background-size: 25px;
    margin-right: 10px;
}

input[type="search"] {
    width: 600px;
    height: 50px;
    border: none;
    padding-left: 50px;
    font-size: 1.3rem;
}

input[type="search"]:focus {
    outline: none;
}

.search-query{
    background: url(../images/search.png) no-repeat 2%;
    background-size: 25px;
}

.buttons {
    margin: 20px 0;
    width: 300px;
    display: flex;
    justify-content: space-evenly;
}

.buttons button:focus {
    outline: none;
}

button {
    color: #5F6368;
    padding: 10px 15px;
    border: none;
}

/* Footer */
footer .container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    background: #f2f2f2;
}

.country, .footer-nav {
    padding: 15px 15px 15px 30px;   
    border-top: 1px solid #e4e4e4;
}

.footer-nav {
    display: flex;
    justify-content: space-between;
}

.footer-nav ul {
    display: flex;
}

.footer-nav ul li {
    padding-right: 20px;
}

footer a {
    font-size: 1.1rem;
    color: #5F6368;
}


@media (max-width:425px) {
    .search {
        max-width: 410px;
    }
}